etcd3==0.12.0
flask==1.1.2
grpcio==1.28.1
grpcio_tools==1.28.1
kubernetes
paddle-serving-app
paddle-serving-client
paddle-serving-server-gpu
paddlepaddle-gpu==1.8.0.post107
pathlib2==2.3.5
protobuf==3.15.0
psutil
redis
